{{- define "lightstreamer.configuration.hibernate" -}}
<?xml version="1.0" encoding="UTF-8"?>
<!-- Do not remove this line. File tag: hibernate_conf-APV-7.2.2. -->

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

  <session-factory>
  {{- with .Values.mpn.hibernateConfig }}
    {{- with required "mpn.hibernateConfig.connection must be set" .connection }}  

    <property name="connection.driver_class">{{ required "mpn.hibernateConfig.connection.jdbcDriverClass must be set" .jdbcDriverClass }}</property>
    <property name="connection.url">{{ required "mpn.hibernateConfig.connection.jdbcUrl must be set" .jdbcUrl }}</property>
    {{- if not .credentialsSecretRef }}
      {{ fail "mpn.hibernateConfig.connection.credentialsSecretRef must be set" }}
    {{- end }}
    <property name="connection.username">$env.LS_HIBERNATE_CONNECTION_USERNAME</property>
    <property name="connection.password">$env.LS_HIBERNATE_CONNECTION_PASSWORD</property>
      {{- if .dialect }}
    <property name="dialect">{{ .dialect | quote }}</property>
      {{- end }}
    {{- end}} {{/* with .connection */}}

    {{- range $propertyKey, $propertyValue := .optionalConfiguration }}
    <property name={{ $propertyKey | quote }}>{{ $propertyValue }}</property>
    {{- end }}

    <!-- Mapping files: these paths are relative to the current directory.
         If the Server has been started with its scripts, the samples paths
         hereunder are correct. But if it has been start with cron or another
         scheduler they may need to be fixed. -->
    <mapping file="../../conf/mpn/Module.hbm.xml"/>
    <mapping file="../../conf/mpn/Command.hbm.xml"/>
    <mapping file="../../conf/mpn/Device.hbm.xml"/>
    <mapping file="../../conf/mpn/Subscription.hbm.xml"/>
    <mapping file="../../conf/mpn/SubscriptionItem.hbm.xml"/>
  {{- end }} {{/* with Values.mpn.hibernateConfig */}}
  </session-factory>

</hibernate-configuration>
{{- end}}