{{- if ((.Values.connectors).kafkaConnector).enabled }}
{{- include "lightstreamer.kafka-connector.validateProvisioning" . }}
{{- if not .Values.connectors.kafkaConnector.provisioning.fromPathInImage }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "lightstreamer.kafka-connector.name" . }}-deployer-script
  labels:
    {{- include "lightstreamer.labels" . | nindent 4 }}
data:
  {{- /*
  Retrieves the Kafka Connector distribution package from one of the
  configurable provisioning sources (GitHub release, URL, or volume) and deploys
  it to the expected deployment path in the ephemeral volume "kafka-connector-deployment",
  which is mounted by the main Lightstreamer container.

  The script is executed by the `kafka-connector-deployer` init container, which
  is created only if the "connector.kafkaConnector.provisioning.fromPathInImage"
  setting is not leveraged: in that case, the connector is expected to be
  already available in the image and will be copied to the deployment path by the
  "setup-kafka-connector.sh" script launched at container startup.
  */}}
  kafka-connector-deployer.sh: |-
    #!/bin/sh
    set -e
  {{- $provisioning := .Values.connectors.kafkaConnector.provisioning }}
  {{- with $provisioning }}
    # Define the expected deployment path
    KAFKA_CONNECTOR_DEPLOYMENT_PATH={{ include "lightstreamer.kafka-connector.deployment.dir" . }}
    {{- if .fromVolume }}
    # The zip archive is already available in the volume specified through
    # "connectors.kafkaConnector.provisioning.fromVolume", mounted at the
    # expected path.
    ZIP_ARCHIVE={{ .fromVolume.filePath }}
    {{- else }}
    ZIP_ARCHIVE=kafka-connector.zip
      {{- if .fromGitHubRelease }}
    # Download the zip archive from the GitHub release to the temporary
    # directory mounted from the ephemeral volume
    # "kafka-connector-source-storage".
    curl -fL -o {{ include "lightstreamer.kafka.connector.source-archive.dir" . }}/${ZIP_ARCHIVE} {{ include "lightstreamer.kafka-connector.url" .fromGitHubRelease }}
      {{- else if .fromUrl }}
    # Download the zip archive from the specified URL to the temporary directory
    # mounted from the ephemeral volume "kafka-connector-source-storage".
    curl -fL -o {{ include "lightstreamer.kafka.connector.source-archive.dir" . }}/${ZIP_ARCHIVE} {{ .fromUrl }}
      {{- end }}
    {{- end }}
    unzip {{ include "lightstreamer.kafka.connector.source-archive.dir" . }}/${ZIP_ARCHIVE} -d /deployed_adapters
    # Renaming the unzipped directory from /deployed_adapters/lightstreamer-kafka-connector-<version> to the 
    # expected deployment path /deployed_adapters/kafka-connector.
    mv /deployed_adapters/* ${KAFKA_CONNECTOR_DEPLOYMENT_PATH}
    # Set permissions to ensure that subsequent copy operations from the main container's startup script work correctly, 
    # regardless of the user ID used by the init container to perform the deployment.
    chmod -R 777 ${KAFKA_CONNECTOR_DEPLOYMENT_PATH}
    
  {{- end }}
{{- end }}
{{- end }}
